<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I recently graduated from
      <a class="underline-link" href="http://i-science.icehs.kr/main.do" target="_blank">Incheon Science High
        School.</a>
      I'm currently an Student at
      <a class="underline-link" href="http://ewha.ac.kr/" target="_blank">Ewha Womans University</a> and working an
      Engineer at
      <a class="underline-link" href="http://www.toonsquare.co/" target="_blank">Toonsquare</a>, building things for the
      web with some awesome people. I also working as a representative of the school at
      <a class="underline-link" href="http://yehs.or.kr/main/main.php" target="_blank">NAEK YEHS</a>, and working as a
      Core Member at
      <a class="underline-link" href="https://dsc-ewha.tistory.com/" target="_blank">DSC-EWHA</a>, and on the board of
      directors of the organization,
      <a class="underline-link" href="http://www.sffl.or.kr" target="_blank">The Scholarship Foundation for Future
        Leaders.</a>
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical
      knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are
      scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably snowboarding, cruising around on my
      penny board,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>