<section class="section background">
  <!-- <div class="section__title">Background</div> -->
  <div class="section__title">About Me<br><img src="https://hagyeonglee.github.io/img/emojis/profile.jpg" width=100px
      height=200px></div>
  <div class="section__content">
    <p>
      I recently graduated from
      <a class="underline-link" href="http://i-science.icehs.kr/main.do" target="_blank">Incheon Science High
        School.</a>
      I'm currently an Student at
      <a class="underline-link" href="http://ewha.ac.kr/" target="_blank">Ewha Womans University</a> and working an
      AI &amp; Web Engineer(front) at
      <a class="underline-link" href="http://www.toonsquare.co/" target="_blank">Toonsquare</a>, building things for the
      web with some awesome people. I also working as a representative of the school at
      <a class="underline-link" href="http://yehs.or.kr/main/main.php" target="_blank">NAEK YEHS</a>, and working as a
      Core Member at
      <a class="underline-link" href="https://dsc-ewha.tistory.com/" target="_blank">DSC-EWHA</a>, and on the board of
      directors of the organization,
      <a class="underline-link" href="http://www.sffl.or.kr" target="_blank">The Scholarship Foundation for Future
        Leaders.</a>
    </p>

    <p>
      <strong>As a software engineer,</strong> No matter what the problem arises, I always try to approach it with a
      positive attitude.
      To carry out projects in a self-directed manner and constantly strive not to be lazy in studying and learning.
      I also enjoy bridging the gap between engineering and design, writing &mdash; combining my technical
      knowledge
      with my keen eye for design to create a beautiful result. My goal is to to become a developer who can accurately
      catch the needs of users and designers &amp; talk about them in code.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably traveling, writing, reading. I also like
      to provide coding education services to young children or other people who need to my knowledge.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>