<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="http://stage.toonsquare.co/ai/emotion/kor?tester" target="_blank">
          <img src="{{site.baseurl}}/img/featured/toonsquare/toonsquareai.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://stage.toonsquare.co/ai/emotion/kor?tester" target="_blank">Emotion
            AI Analysis</a>
        </div>
        <p>description</p>
        <span>
          <a href="https://github.com/lhky78/toonsquare_ai_kobert" target="_blank">
            <img src="https://lhky78.github.io//img/social/github.svg" width=40px height=40px></a>
        </span>
      </figcaption>

    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://4cut.ai/landing/sample-view" target="_blank">
          <img src="{{site.baseurl}}/img/featured/toonsquare/4cut1.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://4cut.ai/landing/sample-view" target="_blank">4CUT(Making Webtoon
            Tool)</a>
        </div>
        <p>description</p>
        <!-- <span>
          <a href="https://github.com/lhky78/toonsquare_ai_kobert" target="_blank">
            <img src="https://lhky78.github.io//img/social/github.svg" width=40px height=40px></a>
        </span> -->
      </figcaption>

    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://lhky78.github.io/Artistic.pdf" target="_blank">
          <img src="{{site.baseurl}}/img/featured/Artistic/Artistic.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="" target="_blank">Artistic Style
            Transfer</a>
        </div>
        <p>description</p>
        <span>
          <a href="https://github.com/lhky78/neuralstyle_colab" target="_blank">
            <img src="https://lhky78.github.io//img/social/github.svg" width=40px height=40px></a>
        </span>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://lhky78.github.io/petpressure.pdf" target="_blank">
          <img src="{{site.baseurl}}/img/featured/invention/invention.png" alt="">
          <!-- <img src="{{site.baseurl}}/img/featured/invention/invention2.jpg" alt=""> -->
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://lhky78.github.io/petpressure.pdf" target="_blank">Invention : PET Bottle Compressor
            with Lid and Label Removal</a>
        </div>
        <p>description</p>
        <span>
          <a href="https://lhky78.github.io/petpressure.pdf" target="_blank">
            <img src="{{site.baseurl}}/img/emojis/paper.png" width=40px height=40px></a>
        </span>
      </figcaption>

    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://lhky78.github.io/petpressure.pdf" target="_blank">
          <img src="{{site.baseurl}}/img/featured/groove/groove.png" alt="">
          <!-- <img src="{{site.baseurl}}/img/featured/invention/invention2.jpg" alt=""> -->
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://lhky78.github.io/groove.pdf" target="_blank">A Study on the Engineering Application of Cactus
            Groove Structure</a>
        </div>
        <p>description</p>
        <a href="https://lhky78.github.io/groove.pdf" target="_blank">
          <img src="{{site.baseurl}}/img/emojis/paper.png" width=40px height=40px></a>
        </span>
      </figcaption>

    </div>
  </div>
</section>