<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="http://stage.toonsquare.co/ai/emotion/kor?tester" target="_blank">
          <img src="{{site.baseurl}}/img/featured/toonsquare/toonsquareai.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://stage.toonsquare.co/ai/emotion/kor?tester" target="_blank">Toonsquare : Emotion
            AI Analysis</a>
        </div>
        <p>description</p>
        <span>
          <a href="https://github.com/lhky78/toonsquare_ai_kobert" target="_blank">
            <img src="https://lhky78.github.io//img/social/github.svg" width=40px height=40px></a>
        </span>
      </figcaption>

    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="http://stage.toonsquare.co/ai/emotion/kor?tester" target="_blank">
          <img src="{{site.baseurl}}/img/featured/toonsquare/4cut1.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://stage.toonsquare.co/ai/emotion/kor?tester" target="_blank">Toonsquare : 4CUT(Making Webtoon
            Tool)</a>
        </div>
        <p>description</p>
        <!-- <span>
          <a href="https://github.com/lhky78/toonsquare_ai_kobert" target="_blank">
            <img src="https://lhky78.github.io//img/social/github.svg" width=40px height=40px></a>
        </span> -->
      </figcaption>

    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://colab.research.google.com/drive/1d2iROpB51mtlkcD1ATl6ICCazidDNTt5?authuser=2" target="_blank">
          <img src="{{site.baseurl}}/img/featured/Artistic/Artistic.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="" target="_blank">Artistic Style
            Transfer</a>
        </div>
        <p>description</p>
        <span>
          <a href="https://github.com/lhky78/neuralstyle_colab" target="_blank">
            <img src="https://lhky78.github.io//img/social/github.svg" width=40px height=40px></a>
        </span>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="" target="_blank">
          <img src="{{site.baseurl}}/img/featured/planetEarth/planetEarth.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="" target="_blank">PlanetEarth</a>
        </div>
        <p>description
        </p>
        <span>
          <a href="https://github.com/planetEarth1886/website" target="_blank">
            <img src="https://lhky78.github.io//img/social/github.svg" width=40px height=40px></a>
        </span>
      </figcaption>
    </div>
  </div>
</section>