<header class="intro">
  <h1 class="intro__hello">Hello :) 
  {% comment %} <img src="https://hagyeonglee.github.io/img/emojis/profile.jpg" width=60px height=60px> {% endcomment %}
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Ha Gyeong LEE <img src="https://hagyeonglee.github.io/img/emojis/profile.jpg" width=60px
        height=60px></span>, a positive
    and open-minded software engineer in <span class="name">learning
      &amp; studying, </span> focusing on various <span class="name">Experiences
      &amp;Challenges.
      <span class="emoji technologist"></span><span><img src="https://hagyeonglee.github.io/img/emojis/challenge.png"
          width=40px height=40px></span></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:lhky0708@gmail.com" target="_blank" class="highlight-link">lhky0708@gmail.com</a>
    </span>
  </h3>

  <h3 class="intro__contact">
    <span>Visit </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="https://instagram.com/leee_eeehk" target="_blank">
        <img src="https://hagyeonglee.github.io//img/social/instagram.svg" width=40px height=40px></a>
    </span>
    <span>
      <a href="https://github.com/lhky78" target="_blank">
        <img src="https://hagyeonglee.github.io//img/social/github.svg" width=40px height=40px></a>
    </span>
    <span>
      <a href="https://lhky78.github.io/Resume_kor_HaGyeongLee.pdf" target="_blank">
        <img src="https://hagyeonglee.github.io//img/social/resume.png" width=40px height=40px></a>
    </span>
  </h3>
  <h3 class="intro__contact">
    <span>Gallery of My Life </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="https://www.notion.so/lhky78/Story-of-Ha-Gyeong-989fa7aab2e24f3199ee9c7733cc47ef" target="_blank">
        <img src="https://hagyeonglee.github.io//img/emojis/gallery.png" width=40px height=40px></a>
    </span>
  </h3>
</header>